body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

input {
    width: 200px;
    padding: 10px !important;
}

button {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
